# Note: All API keys and secrets listed below are intended for testing purposes only.
# They are deliberately left unchanged to streamline the evaluation and development process.

# JWT Configuration
JWT_SECRET=57e118d70947b1ca429f02f9b05bc01c
JWT_EXPIRES_IN=24h

# Server Configuration
PORT=4000

# Frontend URL for CORS
FRONTEND_URL=https://book-app-front-wine.vercel.app/

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dvboumpup
CLOUDINARY_API_KEY=235257791322941
CLOUDINARY_API_SECRET=x7hJxL4oObEx3N9WqaIbNIdGIGY

# Database Configuration
DATABASE_URL=postgresql://neondb_owner:npg_Eng3He1rKNoc@ep-curly-term-ad6dak5z.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require